<?xml version='1.0' encoding='utf-8'?>
<widget id="com.appti.project.keeper.template" version="1.0.1" versionCode="10001" android-versionCode= "10001" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SocketTimer</name>
    <description>
        A cross platform Cordova app that shows the connection with a socket server. It updates the time every second on the screen.
    </description>
    <author email="brworkit@gmail.com" href="http://cordova.io">
        brworkit
    </author>
    
    <content src="index.html" />
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <preference name="Orientation" value="portrait" />
</widget>
